#bodyIndex{
    background-color: gray;
}

#btnStart {
    position: absolute;
    width: 20%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
    color:#000; 
    font-weight: bold;
    position: absolute;
	left: 39.4%;
    top: 60%;
}
#h1Index {
    font-size: 85px;
    margin-top: 13%;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
}
#thMenor {
    width: 5%;
}